<section class="center py-5  blue lighten-1">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">We will be in touch with you shortly</p>

  <a href="/"><button class="btn-large waves-effect waves-light btn-round-lg btn-lg center black navfont blue-text text-lighten-1" name="action"> Go Back Home
        <i class="fa fa-circle-o faa-burst animated right" ></i>
      </button>
  </a>
</section>
